<div ng-repeat="temporada in listTimeline.list">

    <h3>{{temporada.ano}} - {{temporada.edicao}}</h3>
    

    <div class="row col-lg-12 box-shadow margin-bottom" ng-repeat="etapa in temporada.etapas">

        <div>

            <div class="col-md-11">
                <h4>{{etapa.local}}</h4>
            </div>
            <div class="col-md-1 date-bg">
                <div data-toggle="tooltip" tooltip data-placement="top" title="Data da etapa">
                    <span class="timeline-balloon-date-day">{{etapa.data}}</span>
                </div>                
            </div>
            <div class="col-lg-12">
                <hr>
            </div>
        </div>

        <div class="col-md-12" ng-bind-html="etapa.descricao"></div>
        
        <div class="col-md-12" ng-hide="etapa.publicarResultado">
            <largada-table
                etapa="etapa"
                temporada="temporada">
            </largada-table>
        </div>

        <div class="col-md-12" ng-show="etapa.publicarResultado">
            <hr>
            <h3>Resultados</h3>
            <div class="col-md-12">
                <h6>Categoria</h6>
                <categoria-combo 
                    id-temporada="temporada.idTemporada"
                    id-etapa="etapa.idEtapa"
                    only-signed="true"
                    ng-model="etapa.idCategoria">        
                </categoria-combo>
            </div>

            <ranking-etapa-table
                id-temporada="temporada.idTemporada" 
                id-categoria="etapa.idCategoria"
                id-etapa="etapa.idEtapa"></ranking-etapa-table>                    
        </div>

    </div>

</div>

<div ng-show="{{paginate}}" >

    <ul class="pagination pagination-md pull-right">
        <li ng-show="filter.currentPage"><button class="btn btn-link" ng-click="paginateLeft()"><i class="fa fa-chevron-left fa-fw"></i> Postagens mais recentes</button></li>
        <li ng-hide="last"><button class="btn btn-link" ng-click="paginateRight()">Postagens mais antigas <i class="fa fa-chevron-right fa-fw"></i> </button></li>
    </ul>

</div>

