    <!DOCTYPE html>
<html lang="en">

<head>

    <meta charset="utf-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <meta name="description" content="Copa União de Ciclismo">
    <meta name="author" content="Eduardo Martins - martins.rs@gmail.com">
    <meta name="keywords" content="ciclismo cycling championship campeonato copa porto alegre rs uniao">

    <title>Copa União de Ciclismo</title>

    <!-- Bootstrap Core CSS -->
    <link href="vendor/bootstrap/css/bootstrap.min.css" rel="stylesheet">
    <link href="vendor/bootstrap-switch/css/bootstrap2/bootstrap-switch.min.css" rel="stylesheet">

    <!-- Theme CSS -->
    <!-- build:css(.) css/cuc.min.css -->
    <link href="css/freelancer.css" rel="stylesheet">
    <link href="css/user-login.css" rel="stylesheet">
    <link href="css/timeline.css" rel="stylesheet">
    <!-- endbuild -->

    <link href='vendor/textAngular/textAngular.css' rel='stylesheet' >

    <!-- Date Picker -->
    <link rel="stylesheet" href="vendor/datepicker/themes/classic.css" id="theme_base">
    <link rel="stylesheet" href="vendor/datepicker/themes/classic.date.css" id="theme_date">
    <link rel="stylesheet" href="vendor/datepicker/themes/classic.time.css" id="theme_time">

    <link rel="stylesheet" href="vendor/pace/pace-minimal.css">

    <!-- Custom Fonts -->
    <link href="vendor/font-awesome-4.7.0/css/font-awesome.min.css" rel="stylesheet" type="text/css">
    <link href="https://fonts.googleapis.com/css?family=Montserrat:400,700" rel="stylesheet" type="text/css">
    <link href="https://fonts.googleapis.com/css?family=Lato:400,700,400italic,700italic" rel="stylesheet" type="text/css">

    <!-- HTML5 Shim and Respond.js IE8 support of HTML5 elements and media queries -->
    <!-- WARNING: Respond.js doesn't work if you view the page via file:// -->
    <!--[if lt IE 9]>
        <script src="https://oss.maxcdn.com/libs/html5shiv/3.7.0/html5shiv.js"></script>
        <script src="https://oss.maxcdn.com/libs/respond.js/1.4.2/respond.min.js"></script>
    <![endif]-->
</head>

<body id="page-top" class="index" ng-app="cucApp">

    <!-- Navigation -->
    <nav id="mainNav" class="navbar navbar-default navbar-fixed-top navbar-custom">
        <div class="container">
            <!-- Brand and toggle get grouped for better mobile display -->
            <div class="navbar-header page-scroll">
                <button type="button" class="navbar-toggle" data-toggle="collapse" data-target="#bs-example-navbar-collapse-1">
                    <span class="sr-only">Toggle navigation</span> Menu <i class="fa fa-bars"></i>
                </button>
                <a class="navbar-brand" href="#/">Copa União de Ciclismo</a>
            </div>

            <!-- Collect the nav links, forms, and other content for toggling -->
            <div class="collapse navbar-collapse" id="bs-example-navbar-collapse-1">
                <ul class="nav navbar-nav navbar-right">
                    <li class="hidden">
                        <a href="#page-top"></a>
                    </li>
                    <li class="page-scroll">
                        <a ng-href="#/">Home</a>
                    </li>
                    <li class="dropdown">
                        <a class="dropdown-toggle" data-toggle="dropdown" data-target="#" href="">Resultados <i class="fa fa-caret-down"></i></a>
                        <ul class="dropdown-menu multi-level dropdown-custom" ng-controller="TemporadaCtrl as temporada">
                            <li ng-repeat="temporadaVo in temporada.temporadaList"><a ng-href="#/temporada/{{temporadaVo.idTemporada}}"><i class="fa fa-calendar fa-fw"></i> {{temporadaVo.ano}} - {{temporadaVo.edicao}}</a>
                            </li>
                        </ul>
                    </li>
                    <li class="page-scroll">
                        <a ng-href="#/">Contato</a>
                    </li>
                    <li class="ng-hide page-scroll" ng-controller="AdminCtrl as admin" ng-show="admin.isLogged">
                        <!-- <a ng-href="#/admin">Admin*</a> -->
                        <a class="dropdown-toggle" data-toggle="dropdown" data-target="#" href="">Admin <i class="fa fa-caret-down"></i></a>
                        <ul class="dropdown-menu multi-level dropdown-custom">
                            <li><a ng-href="#/admin/temporada"><i class="fa fa-calendar fa-fw"></i> Temporadas</a></li>
                            <li><a ng-href="#/admin/categoria"><i class="fa fa-bookmark fa-fw"></i> Categorias</a></li>
                            <li><a ng-href="#/admin/etapa"><i class="fa fa-calendar-o fa-fw"></i> Etapas</a></li>
                            <li class="divider"></li>
                            <li><a ng-href="#/admin/atleta"><i class="fa fa-user fa-fw"></i> Atletas</a></li>
                            <li><a ng-href="#/admin/equipe"><i class="fa fa-users fa-fw"></i> Equipes</a></li>
                            <li class="divider"></li>
                            <li><a ng-href="#/admin/inscricao"><i class="fa fa-user-plus fa-fw"></i> Inscrições</a></li>
                            <li class="divider"></li>
                            <li><a ng-href="#/admin/profile"><i class="fa fa-user-circle fa-fw"></i> Perfil</a></li>
                            <li><a ng-href="#/admin/logout"><i class="fa fa-sign-out fa-fw"></i> Sair</a></li>
                        </ul>
                    </li>
                </ul>
            </div>
            <!-- /.navbar-collapse -->
        </div>
        <!-- /.container-fluid -->
    </nav>
    
    <div ng-view="">
    </div>
        
    <!-- Footer -->
    <footer class="text-center">
        <div class="footer-above">
            <div class="container">
                <div class="row">
                    <div class="footer-col col-md-6">
                        <h3>Quem Somos</h3>
                        <p>Eduardo Carlos Kohlrausch Casado com Neila de Meira Brizolla e pai de Maria Eduarda Brizolla Kohlrausch de 10 anos e Maria Luiza Brizolla Kohlrausch de 1ano e 8meses, a quem considero as minhas sucessoras, ainda mais agora que a mais velha já está pedalando, e para meu orgulho na Copa União!!!</p>
                    </div>
                    <div class="footer-col col-md-6">
                        <h3>Redes Sociais</h3>
                        <ul class="list-inline">
                            <li>
                                <a href="https://www.facebook.com/CopaUniaoDeCiclismo/" class="btn-social btn-outline"><i class="fa fa-fw fa-facebook"></i></a>
                            </li>
                        </ul>
                    </div>
                </div>
            </div>
        </div>
        <div class="footer-below">
            <div class="container">
                <div class="row">
                    <div class="col-lg-12">
                        Copyright &copy; Copa União de Ciclismo 2016-2017
                    </div>
                </div>
            </div>
        </div>
    </footer>

    <!-- Scroll to Top Button (Only visible on small and extra-small screen sizes) -->
    <div class="scroll-top page-scroll hidden-sm hidden-xs hidden-lg hidden-md">
        <a class="btn btn-primary" href="#page-top">
            <i class="fa fa-chevron-up"></i>
        </a>
    </div>

    <!-- jQuery -->
    <script src="vendor/jquery/1.12.4/jquery-1.12.4.min.js"></script>

    <!-- Bootstrap Core JavaScript -->
    <script src="vendor/bootstrap/js/bootstrap.min.js"></script>

    <!-- Plugin JavaScript -->
    <script src="vendor/jquery/jquery-easing/1.3/jquery.easing.min.js"></script>
    
    <!-- Components -->
    <script src="vendor/angular/angular.js"></script>
    <script src="vendor/angular-animate/angular-animate.js"></script>
    <script src="vendor/angular-cookies/angular-cookies.js"></script>
    <script src="vendor/angular-resource/angular-resource.js"></script>
    <script src="vendor/angular-route/angular-route.js"></script>
    <script src="vendor/angular-sanitize/angular-sanitize.js"></script>
    <script src="vendor/angular-touch/angular-touch.js"></script>
    <!-- moment.js -->
    <script src="vendor/moment/moment-with-locales.js"></script>    
    <!-- text Angular -->
    <script src='vendor/textAngular/textAngular-rangy.min.js'></script>
    <script src='vendor/textAngular/textAngular-sanitize.min.js'></script>
    <script src='vendor/textAngular/textAngular.min.js'></script>
    <!-- Date Time Picker -->
    <script src="vendor/datepicker/picker.js"></script>
    <script src="vendor/datepicker/picker.date.js"></script>
    <script src="vendor/datepicker/picker.time.js"></script>
    <script src="vendor/datepicker/translations/pt_BR.js"></script>
    
    <script src="vendor/bootstrap-switch/js/bootstrap-switch.js"></script>

    <script src="vendor/pace/pace.min.js"></script>
    
    <!-- Theme JavaScript -->
    <script src="js/freelancer.js"></script>
    

    <!-- build:js(.) scripts/cuc.min.js -->
    <!-- App Includes -->
    <script src="scripts/app.js"></script>
    <script src="scripts/config/AppConfig.js"></script>
    <script src="scripts/main/MainCtrl.js"></script>
    <script src="scripts/main/directive/FormatDate.js"></script>
    <script src="scripts/main/directive/Tooltip.js"></script>
    <script src="scripts/main/directive/Pickatime.js"></script>
    <script src="scripts/main/directive/Switch.js"></script>
    <script src="scripts/main/directive/SelectPicker.js"></script>
    <script src="scripts/main/directive/ComboEstados.js"></script>

    <!-- Dialogs -->
    <script src="scripts/main/directive/dialog/DeleteDialog.js"></script>
    <script src="scripts/main/directive/dialog/DeleteMessage.js"></script>    
    
    <script src="scripts/admin/AdminCtrl.js"></script>
    <script src="scripts/admin/UserCtrl.js"></script>
    
    <script src="scripts/temporada/TemporadaCtrl.js"></script>
    <script src="scripts/temporada/TemporadaService.js"></script>
    <script src="scripts/temporada/directive/TemporadaTable.js"></script>
    <script src="scripts/temporada/directive/TemporadaCombo.js"></script>
    <script src="scripts/temporada/ranking/RankingTable.js"></script>
    <script src="scripts/temporada/ranking/RankingEtapaTable.js"></script>
    <script src="scripts/temporada/ranking/RankingTeamTable.js"></script>
    <script src="scripts/temporada/ranking/RankingWrapper.js"></script>
    <script src="scripts/temporada/ranking/RankingWrapperEtapa.js"></script>
    
    <script src="scripts/categoria/CategoriaCtrl.js"></script>
    <script src="scripts/categoria/CategoriaService.js"></script>
    <script src="scripts/categoria/directive/CategoriaTable.js"></script>
    <script src="scripts/categoria/directive/CategoriaCombo.js"></script>
    <script src="scripts/categoria/directive/CategoriaSelectPopup.js"></script>
    <script src="scripts/categoria/directive/CategoriaSignUp.js"></script>
    
    <script src="scripts/etapa/EtapaCtrl.js"></script>
    <script src="scripts/etapa/largadas/LargadaCtrl.js"></script>
    <script src="scripts/etapa/EtapaService.js"></script>
    <script src="scripts/etapa/directive/EtapaTable.js"></script>
    <script src="scripts/etapa/directive/EtapaForm.js"></script>
    <script src="scripts/etapa/directive/EtapaCombo.js"></script>
    <script src="scripts/etapa/directive/classificacao/ClassificacaoDialog.js"></script>
    <script src="scripts/etapa/largadas/directive/LargadaTable.js"></script>
    
    <script src="scripts/inscricao/InscricaoCtrl.js"></script>
    
    <script src="scripts/equipe/EquipeCtrl.js"></script>
    <script src="scripts/equipe/EquipeService.js"></script>
    <script src="scripts/equipe/directive/EquipeTable.js"></script>
    <script src="scripts/equipe/directive/EquipeCombo.js"></script>
    <script src="scripts/equipe/directive/EquipeForm.js"></script>

    <script src="scripts/atleta/AtletaCtrl.js"></script>
    <script src="scripts/atleta/AtletaService.js"></script>
    <script src="scripts/atleta/directive/AtletaTable.js"></script>
    <script src="scripts/atleta/directive/BuscaAtleta.js"></script>
    <script src="scripts/atleta/directive/FormAtleta.js"></script>
    <script src="scripts/atleta/directive/nested/AtletaFormFields.js"></script>

    <script src="scripts/user/directive/CheckUser.js"></script>
    <script src="scripts/user/UserService.js"></script>

    <script src="scripts/blog/directive/EtapaTimeline.js"></script>
    <!-- endbuild -->
    
</body>

</html>
