<check-user></check-user>
<section class="season" ng-controller="AtletaCtrl as atleta">
    <div class="container">
        <div class="row">
            <div class="col-lg-12 text-center">
                <h2>Administrar Atletas</h2>
                <hr class="star-primary">
            </div>
        </div>
        <div class="row">
            
            <form-atleta form-action="#/admin/atleta"></form-atleta>
            
            <div class="col-md-12">
                <atleta-table></atleta-table>
            </div>

        </div>
    </div>
</section>