
<check-user></check-user>

<section class="season">
    <div class="container">
        <div class="row">
            <div class="col-lg-12 text-center">
                <h2>Largadas por Categoria<br>{{largada.currentEtapa.local}}</h2>
                <h4>{{largada.currentEtapa.dataLong}}</h4>
                <h4>{{largada.currentEtapa.temporada.edicao}}</h4>
                <hr class="star-primary">
            </div>
        </div>
        
        <div class="row">
            <h3>Categorias</h3>

            <div class="table-resonsive">
                <table class="table table-striped table-bordered table-hover">
                    <thead>
                        <tr>
                            <th class="col-md-3">Categoria</th>
                            <th class="col-md-5">Critério</th>
                            <th class="col-md-2">Horario Largada</th>
                            <th class="col-md-2">Tempo de prova</th>
                        </tr>
                    </thead>
                    <tbody>
                        <tr ng-repeat="categoria in largada.categoriaList">
                            <td>{{categoria.nome}}</td>
                            <td>{{categoria.criterio}}</td>
                            <td><input type="text" class="form-control" ng-model="categoria.largada.horarioLargada" pickatime name="horarioLargada"></input></td>
                            <td><input type="text" class="form-control" ng-model="categoria.largada.tempoProva" name="tempoProva"></td>
                        </tr>
                    </tbody>
                </table>
            </div>

            <hr>
            <div class="col-md-12">
                <div class="col-md-10">
                    <h6>Copiar da Etapa</h6>
                    <etapa-combo
                        ng-model="idEtapaToCopy"
                        temporada="largada.currentEtapa.temporada"
                        ></etapa-combo>
                </div>
                <div class="col-md-2">
                    <h6>&nbsp;</h6>
                    <form action="{{'#/admin/etapa/largadas/' + largada.currentEtapa.temporada.idTemporada + '/' + largada.currentEtapa.idEtapa}}" method="post">
                        <button type="submit" class="btn btn-primary" 
                            ng-disabled="idEtapaToCopy == largada.currentEtapa.idEtapa || idEtapaToCopy == null"
                            ng-click="largada.copiarLargadas(largada.currentEtapa.temporada.idTemporada, idEtapaToCopy)"><i class="fa fa-clone fa-fw"></i> Copiar</button>
                    </form>
                </div>
            </div>
            <hr>

            <div class="col-md-12 pull-alert">
                <p>&nbsp;</p>                
                <div class="alert alert-success fade in ng-hide" ng-show="largada.saved">
                    <a class="close" aria-label="close" ng-click="largada.saved = false">&times;</a>
                    Dados Atualizados
                </div>
                
                <hr>

                <div class="pull-right">
                    <a ng-href="#/admin/etapa" class="btn btn-link" data-dismiss="modal"><i class="fa fa-chevron-left fa-fw"></i> Voltar</a>
                    <button type="submit" class="btn btn-primary" 
                        ng-disabled="largada.disableSaveLargada()"
                        ng-hide="largada.currentEtapa.publicarResultado"
                        ng-click="largada.salvarLargadas(largada.categoriaList)"><i class="fa fa-floppy-o fa-fw"></i> Salvar</button>
                </div>
            </div>

        </div>

    </div>
</section>



