<section class="season" ng-controller="TemporadaCtrl as temporada">
    <div class="container">
        <div class="row">
            <div class="col-lg-12 text-center">
                <h2>{{temporada.temporadaVo.ano}} - {{temporada.temporadaVo.edicao}}</h2>
                <hr class="star-primary">
            </div>
        </div>
        <div class="row">

            <ul class="nav nav-tabs">
                <li class="active"><a data-target="#classificacaoGeral" href="" data-toggle="tab">Classificação Geral</a>
                </li>
                <li><a data-target="#classificacaoEtapa" href="" data-toggle="tab">Classificação por etapa</a>
                </li>                    
                <li><a data-target="#classificacaoEquipes" href="" data-toggle="tab">Classificação por Equipes</a>
                </li>
            </ul>

            <div class="tab-content">
                <div class="tab-pane active fade in" id="classificacaoGeral">
                    <div class="col-md-12">
                        <h4>Categoria</h4>
                        <categoria-combo temporada="temporada.temporadaVo" ng-model="temporada.geral.idCategoria" />
                    </div>
                    <ranking-wrapper id-temporada="temporada.temporadaVo.idTemporada" id-categoria="temporada.geral.idCategoria"></ranking-wrapper>
                </div>   

                <div class="tab-pane fade in" id="classificacaoEtapa">
                    <div class="col-md-6">
                        <div class="form-group">
                            <h4>Etapa</h4>
                            <etapa-combo
                                publicado="true"
                                temporada="temporada.temporadaVo"
                                ng-model="temporada.etapa.idEtapa"></etapa-combo>
                        </div>
                    </div>

                    <div class="col-md-6">
                        <h4>Categoria</h4>
                        <categoria-combo 
                            id-temporada="temporada.temporadaVo.idTemporada"
                            id-etapa="temporada.etapa.idEtapa"
                            only-signed="true"
                            ng-model="temporada.etapa.idCategoria">        
                        </categoria-combo>
                    </div>

                    <ranking-wrapper-etapa id-temporada="temporada.temporadaVo.idTemporada" 
                                     id-etapa="temporada.etapa.idEtapa"
                                     id-categoria="temporada.etapa.idCategoria"
                                     ></ranking-wrapper-etapa>

                </div>

                <div class="tab-pane fade in" id="classificacaoEquipes">
                     <ranking-team-table id-temporada="temporada.temporadaVo.idTemporada"></ranking-team-table>
                </div>



            </div>

        </div>
    </div>
</section>