<check-user></check-user>

<section class="season" ng-controller="TemporadaCtrl as temporada">
    <div class="container">
        <div class="row">
            <div class="col-lg-12 text-center">
                <h2>Administrar Temporadas</h2>
                <hr class="star-primary">
            </div>
        </div>
        <div class="row">
            
            <div class="col-md-12">
                <div class="panel panel-custom"> 
                    <div class="panel-heading">
                        Incluir Temporada
                    </div>
                    
                    <form action="#/admin/temporada" method="post">
                        <div class="panel-body">

                            <div class="col-md-4">
                                <h6>Ano</h6>
                                <input ng-model="temporada.temporadaVo.ano" type="text" ng-minlength="4" ng-maxlength="4" ng-pattern="/[0-9]/" class="form-control" name="anoTemporada" required>
                            </div>
                            <div class="col-md-4">
                                <h6>Edição</h6>
                                <input ng-model="temporada.temporadaVo.edicao" type="text" class="form-control" name="edicaoTemporada" required>
                            </div>
                            <div class="col-md-4">
                                <h6> Copiar Categorias</h6>
                                <div>
                                    <select class="form-control" ng-model="temporada.temporadaVo.copyCategory">
                                        <option value="" selected>Não Copiar</option>
                                        <option ng-repeat="temporadaVo in temporada.temporadaAllList" value="{{temporadaVo.idTemporada}}">{{temporadaVo.ano}} - {{temporadaVo.edicao}}</option>
                                    </select>
                                </div>
                            </div>                            
                            <div class="col-md-12">
                                <h6>&nbsp;</h6>
                                <div class="btn-group pull-right">
                                    <button type="submit" class="btn btn-primary" ng-disabled="temporada.disableSave()" ng-click="temporada.saveTemporada(temporada.temporadaVo)">Salvar</button>
                                </div>
                            </div>

                        </div>
                    </form>
                    
                </div>
            </div>
            
            <div class="col-md-12">
                <temporada-table />
            </div>           

        </div>
    </div>
</section>