<div class="modal fade" tabindex="-1" role="dialog" id="{{dialogId}}" aria-labelledby="{{dialogId}}">
    <div class="modal-dialog modal-lg">
        <div class="modal-content">
            <div class="modal-header">
                <h4>Resultados</h4>
            </div>
            <div class="modal-body">
                <div class="row">
                    <div class="col-md-12">
                        <p><b>Temporada:</b> {{currentEtapa.temporada.edicao}}</p>
                        <p><b>Etapa:</b> {{currentEtapa.local}}</p>
                        <hr>
                        <h6>Categoria</h6>
                        <categoria-combo ng-disabled="!idEtapa" 
                                        id-temporada="idTemporada" 
                                        id-etapa="idEtapa"
                                        only-signed="true"
                                        ng-model="idCategoria"></etapa-combo>
                    </div>

                    <div class="col-md-12 ng-hide" ng-show="listClassificacao">
                        <h6>&nbsp;</h6>
                        <div class="table-resonsive">
                            <h6>Registrar Resultados</h6>
                            <table class="table table-striped table-bordered table-hover">
                                <thead>
                                    <tr>
                                        <th class="col-md-1">Numero</th>
                                        <th class="col-md-5">Atleta</th>
                                        <th class="col-md-4">Equipe</th>
                                        <th class="col-md-1">Posição</th>
                                    </tr>
                                </thead>
                                <tbody>
                                    <tr ng-repeat="vo in listClassificacao">
                                        <td>{{vo.numero}}</td>
                                        <td>{{vo.atleta.nome}}</td>
                                        <td>{{vo.equipe.nome}}</i></td>
                                        <td class="ng-hide" ng-hide="{{currentEtapa.publicarResultado}}"><input ng-model="vo.classificacao" type="text" class="form-control input-sm" maxlength="3" required></td>
                                        <td class="ng-hide" ng-show="{{currentEtapa.publicarResultado}}">{{vo.classificacao}}</td>
                                    </tr>

                                </tbody>
                            </table>
                        </div>
                        <p>* NC = Não completou</p>
                    </div>
                </div>
            </div>
            <div class="modal-footer">
                <button type="button" class="btn btn-link" data-dismiss="modal">Cancelar</button>
                <button type="submit" class="btn btn-primary" ng-disabled="disableSave()" ng-click="salvar()"><i class="fa fa-floppy-o fa-fw"></i> Salvar</button>
            </div>
        </div>
    </div>
</div>