<check-user></check-user>
<section class="season" ng-controller="EquipeCtrl as equipe">
    <div class="container">
        <div class="row">
            <div class="col-lg-12 text-center">
                <h2>Administrar Equipes</h2>
                <hr class="star-primary">
            </div>
        </div>
        <div class="row">
            
            <div class="col-md-12">
                <div class="panel panel-custom"> 
                    <div class="panel-heading">
                        Incluir Equipe
                    </div>
                    
                    <form action="#/admin/equipe" method="post">
                        <div class="panel-body">

                            <div class="col-md-12">
                                <h6>Nome da Equipe</h6>
                                <input ng-model="equipe.insertVo.nome" type="text" class="form-control" name="nomeEquipe" required>
                            </div>
                            <div class="col-md-6">
                                <h6>Cidade</h6>
                                <input ng-model="equipe.insertVo.cidade" type="text" class="form-control" name="criterioEquipe" required>
                            </div>   
                            <div class="col-md-6">
                                <h6>Estado</h6>
                                <combo-estados ng-model="equipe.insertVo.estado"></combo-estado>
                            </div>
                            <div class="col-md-12">
                                <h6>&nbsp;</h6>
                                <div class="btn-group pull-right">
                                    <button type="submit" class="btn btn-primary" ng-disabled="equipe.disableSave()" ng-click="equipe.saveEquipe(equipe.insertVo)">Salvar</button>
                                </div>
                            </div>

                        </div>
                    </form>
                    
                </div>
            </div>
            
            <div class="col-md-12">
                <equipe-table />
            </div>           

        </div>
    </div>
</section>