<h3>Categorias</h3>

<div class="table-resonsive">
    
    <table class="table table-striped table-bordered table-hover">
        <thead>
            <tr>
                <th class="col-md-2">Nome</th>
                <th class="col-md-6">Critério</th>
                <th class="col-md-2">Valor Inscrição</th>
                <th class="col-md-2"></th>
            </tr>
        </thead>
        <tbody>
            <tr ng-repeat="categoriaVo in categoriaAllList">
                <td ng-hide="categoriaVo.edit">{{categoriaVo.nome}}</td>
                <td ng-hide="categoriaVo.edit">{{categoriaVo.criterio}}</td>
                <td ng-hide="categoriaVo.edit">R$ {{categoriaVo.valorInscricao}}</td>
                
                <td class="ng-hide" ng-show="categoriaVo.edit" ><input type="text" class="form-control" ng-model="categoriaVo.nome"></td>
                <td class="ng-hide" ng-show="categoriaVo.edit" ><input type="text" class="form-control" ng-model="categoriaVo.criterio"></td>
                <td class="ng-hide" ng-show="categoriaVo.edit" ><input type="text" class="form-control" ng-model="categoriaVo.valorInscricao"></td>

                <td>
                    
                    <div class="btn-group">
                        
                        <div class="ng-hide" ng-show="categoriaVo.edit">
                            <button type="submit" class="btn btn-primary" ng-click="save(categoriaVo)">
                              <i class="fa fa-check" aria-hidden="true"></i> Salvar
                            </button>
                            <button class="btn btn-link" ng-click="categoriaVo = turnEdit(categoriaVo)">
                               Cancelar
                            </button>
                        </div>
                    </div>
                    
                    <div class="btn-group" ng-hide="categoriaVo.edit" >
                        
                        <button type="button" class="btn btn-success btn-sm" ng-hide="$first" ng-click="moveUp(categoriaVo)"
                            data-toggle="tooltip" tooltip data-placement="top" title="Mover para cima">
                            <i class="fa fa-arrow-up" aria-hidden="true" ></i>
                        </button>
                        <button type="button" class="btn btn-success btn-sm" ng-hide="$last" ng-click="moveDown(categoriaVo)"
                                data-toggle="tooltip" tooltip data-placement="top" title="Mover para baixo">
                            <i class="fa fa-arrow-down" aria-hidden="true" ></i>
                        </button>
                        
                        <button ng-hide="categoriaVo.edit" class="btn btn-default btn-sm" ng-click="categoriaVo = turnEdit(categoriaVo)"
                                data-toggle="tooltip" tooltip data-placement="top" title="Editar">
                          <i class="fa fa-pencil" aria-hidden="true"></i>
                        </button>
                        <button class="btn btn-danger btn-sm" data-toggle="modal" data-target="#confirmaExcluir" ng-click="prepareDel(categoriaVo)"
                                data-toggle="tooltip" tooltip data-placement="top" title="Excluir">
                          <i class="fa fa-times" aria-hidden="true"></i>
                        </button>
                    </div>
                </td>
            </tr>
        </tbody>
    </table>
</div>

<delete-dialog delete-action="delete(toDeleteVo)">
    <delete-message>
        <p>{{toDeleteVo.nome}} - {{toDeleteVo.criterio}}</p>
        <p class="text-warning small">Esta operação irá deletar todos os dados da categoria.</p>
    </delete-message>
</delete-dialog>