<div class="col-md-12">
    <h5>Categorias</h5>
</div>
<div class="col-md-12">
    <div class="input-group">
        <categoria-combo id-temporada="idTemporada" ng-model="categoriaSelect"></categoria-combo>
        <span class="input-group-btn">
            <button type="button" class="btn btn-secondary" ng-click="addCategoria(categoriaSelect)">
                <i class="fa fa-plus" />
                Adicionar...</button>
        </span>
    </div>
</div>
<div class="col-md-12" ng-show="ngModel">
    <div class="table-resonsive">
        <h6>Categorias Selecionadas</h6>
        <table class="table table-striped table-bordered table-hover">
            <thead>
                <tr>
                    <th class="col-md-5">Nome</th>
                    <th class="col-md-5">Critério</th>
                    <th class="col-md-1">Número</th>
                    <th class="col-md-1"></th>
                </tr>
            </thead>
            <tbody>
                <tr ng-repeat="categoriaVo in ngModel">
                    <td>{{categoriaVo.nome}}</td>
                    <td>{{categoriaVo.criterio}}</i></td>
                    <td><input ng-model="categoriaVo.numero" type="text" class="form-control input-sm" maxlength="3" name="" required></td>
                    <td>
                        <button class="btn btn-danger btn-sm" ng-click="delCategoria(categoriaVo)"
                                data-toggle="tooltip" tooltip data-placement="top" title="Remover">
                          <i class="fa fa-times fa-fw" aria-hidden="true"></i>
                        </button>
                    </td>
                </tr>
            </tbody>
        </table>
    </div>
</div>