<div class="modal-dialog modal-lg">
    <div class="modal-content">
        <div class="modal-header">
            <h4>Selecionar Categorias</h4>
            <h6>{{temporada.ano}} - {{temporada.edicao}}</h6>
        </div>
        <div class="modal-body">
            
            <div class="row">
                <div class="col-md-4" ng-repeat="categoriaVo in categoriaAllList">
                    <div class="checkbox">
                        <label><input type="checkbox" ng-model="categoriasSelecionadas[categoriaVo.idCategoria]" aria-label="..."><b>{{categoriaVo.nome}}</b></label>
                    </div>
                </div>
            </div>
            
        </div>
        
        <div class="modal-footer">
            <button type="button" class="btn btn-link" data-dismiss="modal">Cancelar</button>
            <button type="button" class="btn btn-primary" data-dismiss="modal" ng-click="salvar()">Salvar</button>
        </div>
    </div>
</div>