<h3>Atletas</h3>

<div class="table-resonsive">
    
    <table class="table table-striped table-bordered table-hover">
        <thead>
            <tr>
                <th class="col-md-4">Nome</th>
                <th class="col-md-3">Cidade</th>
                <th class="col-md-2">Estado</th>
                <th class="col-md-2">Equipe</th>
                <th class="col-md-1"></th>
            </tr>
        </thead>
        <tbody>
            <tr ng-repeat="atletaVo in atletaList">
                <td ng-hide="atletaVo.edit">{{atletaVo.nome}}</td>
                <td ng-hide="atletaVo.edit">{{atletaVo.cidade}}</i></td>
                <td ng-hide="atletaVo.edit">{{atletaVo.estado}}</i></td>
                <td ng-hide="atletaVo.edit">{{atletaVo.equipe.nome}}</i></td>
                
                <td class="ng-hide" ng-show="atletaVo.edit"><input type="text" class="form-control" ng-model="atletaVo.nome"></td>
                <td class="ng-hide" ng-show="atletaVo.edit"><input type="text" class="form-control" ng-model="atletaVo.cidade"></td>
                <td class="ng-hide" ng-show="atletaVo.edit"><combo-estados ng-model="atletaVo.estado"></combo-estado></td>
                <td class="ng-hide" ng-show="atletaVo.edit"><equipe-combo ng-model="atletaVo.equipe.idEquipe"></equipe-combo></td>

                <td>
                    <div class="btn-group" ng-hide="atletaVo.idEquipe == 0">
                        <div class="ng-hide" ng-show="atletaVo.edit">
                            <button type="submit" class="btn btn-primary btn-sm" ng-click="save(atletaVo)">
                              <i class="fa fa-check" aria-hidden="true"></i> Salvar
                            </button>
                            <button class="btn btn-link btn-sm" ng-click="atletaVo = turnEdit(atletaVo)">
                               Cancelar
                            </button>
                        </div>
                    </div>
                    
                    <div class="btn-group" ng-hide="atletaVo.edit || atletaVo.idEquipe == 0">
                        <button ng-hide="atletaVo.edit" class="btn btn-default btn-sm" ng-click="atletaVo = turnEdit(atletaVo)"
                                tooltip data-toggle="tooltip" data-placement="top" title="Editar">
                          <i class="fa fa-pencil" aria-hidden="true"></i>
                        </button>
                        <button class="btn btn-danger btn-sm" data-toggle="modal" data-target="#confirmaExcluir" ng-click="prepareDel(atletaVo)"
                                tooltip data-toggle="tooltip" data-placement="top" title="Excluir">
                          <i class="fa fa-times" aria-hidden="true"></i>
                        </button>
                    </div>
                </td>
            </tr>
        </tbody>
    </table>
</div>

<delete-dialog delete-action="delete(toDeleteVo)">
    <delete-message>
        <p>ATLETA: <b>{{toDeleteVo.nome}}</b> <br> {{toDeleteVo.cidade}} / {{toDeleteVo.estado}}</p>
        <p class="ng-hide" ng-show="toDeleteVo.equipe.idEquipe != 0">EQUIPE: <b>{{toDeleteVo.equipe.nome}}</b> - {{toDeleteVo.equipe.cidade}} / {{toDeleteVo.equipe.estado}}</p>
    </delete-message>
</delete-dialog>