<div ng-show="!ngModel" class="col-md-12 ng-hide">
    <hr>
    <h6>Buscar Atleta <button type="submit" class="btn btn-link btn-xs" data-toggle="modal" data-target="#addAtleta"><i class="fa fa-plus fa-xs"></i> Incluir Atleta</button></h6>

    <div class="input-group">
        <input ng-model="searchValue" type="text" class="form-control" name="" required>
        <span class="input-group-btn">
            <button type="submit" class="btn btn-secondary">
                <i class="fa fa-search" /></button>
        </span>
    </div>

    <div class="col-md-12 alert alert-warning" ng-show="!atletaList && searchValue.length >= 3">
        Nenhum atleta encontrado... 
        <button type="submit" class="btn btn-link" data-toggle="modal" data-target="#addAtleta"><i class="fa fa-plus fa-xs"></i> Incluir Atleta</button>
    </div>

    <div class="col-md-12 ng-hide" ng-show="atletaList">
        <div class="table-resonsive">
            <table class="table table-striped table-bordered table-hover">
                <thead>
                    <tr>
                        <th class="col-md-4">Nome</th>
                        <th class="col-md-3">Cidade / Estado</th>
                        <th class="col-md-2">Equipe</th>
                        <th class="col-md-1"></th>
                    </tr>
                </thead>
                <tbody>
                    <tr ng-repeat="searchVO in atletaList">
                        <td>{{searchVO.nome}}</td>
                        <td>{{searchVO.cidade}} / {{searchVO.estado}}</td>
                        <td>{{searchVO.equipe.nome}}</td>
                        <td>
                            <button type="button" class="btn btn-primary btn-sm"
                                    tooltip data-toggle="tooltip" data-placement="top" title="Selecionar" ng-click="selecionaAtleta(searchVO);">
                            <i class="fa fa-check fa-fw" /></button>
                        </td>
                    </tr>
                </tbody>
            </table>        
        </div>
    </div>
    
    
</div>

<div class="ng-hide" ng-show="ngModel">
    <div class="col-md-12">
        <hr>
        <h5>Atleta Selecionado</h5>
    </div>

    <div class="col-md-12">
        <div class="table-resonsive">
            <table class="table table-striped table-bordered table-hover">
                <thead>
                    <tr>
                        <th class="col-md-4">Nome</th>
                        <th class="col-md-3">Cidade/Estado</th>
                        <th class="col-md-2">Equipe</th>
                        <th class="col-md-1"></th>
                    </tr>
                </thead>
                <tbody>
                    <tr>
                        <td>{{ngModel.nome}}</td>
                        <td>{{ngModel.cidade}} / {{ngModel.estado}}</td>
                        <td>{{ngModel.equipe.nome}}</td>
                        <td>
                            <button class="btn btn-sm" data-effect="fadeOut" ng-click="desmarcaAtleta()"
                                    tooltip data-toggle="tooltip" data-placement="top" title="Desmarcar Atleta">
                                <i class="fa fa-times fa-fw"></i>
                            </button>
                        </td>
                    </tr>
                </tbody>
            </table>        
        </div>
    </div>
</div>


<div class="modal fade" tabindex="-1" role="dialog" id="addAtleta" aria-labelledby="addAtleta">
    <form-atleta form-action="{{formAction}}" modal="true"></form-atleta>
</div>