<div class="col-md-12" ng-hide="modal">
    <div class="panel panel-custom"> 
        <div class="panel-heading">
            Incluir Atleta
        </div>

        <div class="panel-body">
            <atleta-form-fields insert-vo="insertVo"></atleta-form-fields>
            <div class="col-md-12">
                <h6>&nbsp;</h6>
                <div class="btn-group pull-right">
                    <form action="{{formAction}}" method="post">
                        <button type="submit" class="btn btn-primary" ng-disabled="disableSave()" ng-click="saveAtleta(insertVo)">Salvar</button>
                    </form>
                </div>
            </div>
        </div>
    </div>
</div>

<div class="modal-dialog modal-lg ng-hide" ng-show="modal">
    <div class="modal-content">
        <div class="modal-header">
            <h4>Incluir Atleta</h4>
        </div>
        <div class="modal-body">
            <div class="row">
                <div class="panel-body">
                    <atleta-form-fields insert-vo="insertVo"></atleta-form-fields>
                </div>
            </div>
        </div>
        <div class="modal-footer">
            <button type="button" class="btn btn-link" data-dismiss="modal">Cancelar</button>
            <button type="submit" class="btn btn-primary" ng-disabled="disableSave()" data-dismiss="modal" ng-click="saveAtleta(insertVo)">Salvar</button>
        </div>
    </div>
</div>

<div class="modal fade" tabindex="-1" role="dialog" id="formEquipe" aria-labelledby="formEquipe">
    <equipe-form form-action="{{formAction}}"></equipe-form>
</div>