<check-user></check-user>
<section class="season" ng-controller="EtapaCtrl as etapa">
    <div class="container">
        <div class="row">
            <div class="col-lg-12 text-center">
                <h2>Administrar Etapas</h2>
                <hr class="star-primary">
            </div>
        </div>
        <div class="row">
            <div class="tab-pane active fade in" id="listaEtapa">
                <etapa-table></etapa-table>
            </div>
        </div>
    </div>
</section>