<div class="table-resonsive ng-hide" ng-show="horarioLargadas">
    <hr>
    <h5>Largadas / Inscrição / Tempo de prova</h5>

    <div class="col-md-12" ng-repeat="largada in horarioLargadas">
        <h6>Largada às {{largada.horarioLargada}}</h6>
        <table class="table table-striped table-bordered table-hover">
            <tbody>
                <tr ng-repeat="vo in largada.listCategorias">
                    <td class="col-md-8"><b>{{vo.nome}}</b> (<span class="small">{{vo.criterio}}</span>)</td>
                    <td class="col-md-2 text-center">
                        <span data-toggle="tooltip" tooltip data-placement="top" title="Valor da inscrição">R$ {{vo.valorInscricao}}</span>
                    </td>
                    <td class="col-md-2">
                        <span data-toggle="tooltip" tooltip data-placement="top" title="Tempo de prova">{{vo.tempoProva}}</span>
                    </td>
                </tr>
            </tbody>
        </table>
    </div>
</div>