<check-user></check-user>
<section class="season" ng-controller="InscricaoCtrl as inscricao">
    <div class="container">
        <div class="row">
            <div class="col-lg-12 text-center">
                <h2>Administrar Inscrições</h2>
                <hr class="star-primary">
            </div>
        </div>
        <div class="row">
            
            <div class="col-md-12">
                <div class="col-md-6">
                    <h6>Temporada</h6>
                    <temporada-combo ng-model="inscricao.vo.idTemporada" ng-disabled="inscricao.vo.atleta"></temporada-combo>
                </div>
                <div class="col-md-6">
                    <h6>Etapa</h6>
                    <etapa-combo inscricao="true" id-temporada="inscricao.vo.idTemporada" ng-model="inscricao.vo.idEtapa" ng-disabled="inscricao.vo.atleta"></etapa-combo>
                </div>

                <div ng-show="inscricao.vo.idEtapa != null" class="col-md-12 ng-hide">
                    <busca-atleta ng-model="atleta" form-action="#/admin/inscricao" search-value="pesquisanome"></busca-atleta>
                </div>

                <div class="col-md-12 ng-hide" ng-show="inscricao.vo.atleta">
                    <categoria-sign-up id-temporada="inscricao.vo.idTemporada" ng-model="inscricao.vo.categoriasSelecionadas"></categoria-sign-up>
                </div>

                <div class="col-md-12">
                    <h6>&nbsp;</h6>
                    <hr>
                    <div class="pull-right">
                        <div class="btn-group">
                            <button type="submit" class="btn btn-link" ng-click="inscricao.cancelar()">Cancelar</button>
                        </div>
                        <div class="btn-group">
                            <button type="submit" class="btn btn-primary" ng-disabled="inscricao.disableInscricao()" ng-click="inscricao.inscrever(inscricao.vo)"><i class="fa fa-edit"></i> Salvar</button>
                        </div>
                    </div>
                </div>
            </div>
            
        </div>
    </div>
</section>