<check-user></check-user>

<section class="season" ng-controller="EtapaCtrl as resultados">
    <div class="container">
        <div class="row">
            <div class="col-lg-12 text-center">
                <h2>Resultados - {{resultados.currentEtapa.local}}</h2>
                <h4>{{resultados.currentEtapa.dataLong}}</h4>
                <h4>{{resultados.currentEtapa.temporada.edicao}}</h4>
                <hr class="star-primary">
            </div>
        </div>
        <div class="row">
            <div class="col-md-12">
                <h6>Categoria</h6>
                <categoria-combo ng-disabled="!resultados.currentEtapa.idEtapa" 
                                id-temporada="resultados.currentEtapa.temporada.idTemporada" 
                                id-etapa="resultados.currentEtapa.idEtapa"
                                only-signed="true"
                                ng-model="idCategoria"></etapa-combo>
            </div>

            <div class="col-md-12 ng-hide" ng-show="resultados.listClassificacao">
                <h6>&nbsp;</h6>
                <div class="table-resonsive">
                    <h6>Registrar Resultados</h6>
                    <table class="table table-striped table-bordered table-hover">
                        <thead>
                            <tr>
                                <th class="col-md-1">Numero</th>
                                <th class="col-md-4">Atleta</th>
                                <th class="col-md-4">Equipe</th>
                                <th class="col-md-1">Posição</th>
                            </tr>
                        </thead>
                        <tbody>
                            <tr ng-repeat="vo in resultados.listClassificacao">
                                <td>{{vo.numero}}</td>
                                <td>{{vo.atleta.nome}}</td>
                                <td>{{vo.equipe.nome}}</i></td>
                                <td class="ng-hide" ng-hide="{{resultados.currentEtapa.publicarResultado}}"><input ng-model="vo.classificacao" type="text" class="form-control input-sm" maxlength="3" required></td>
                                <td class="ng-hide" ng-show="{{resultados.currentEtapa.publicarResultado}}">{{vo.classificacao}}</td>
                            </tr>

                        </tbody>
                    </table>
                </div>
                <p>* NC = Não completou</p>
            </div>

            <div class="col-md-12 pull-alert ng-hide" ng-hide="resultados.currentEtapa.publicarResultado">
                <p>&nbsp;</p>
                
                <div class="alert alert-success fade in ng-hide" ng-show="resultados.saved">
                    <a class="close" aria-label="close" ng-click="resultados.saved = false">&times;</a>
                    Resultados atualizados
                </div>

                <hr>
                <div class="pull-right">
                    <a ng-href="#/admin/etapa" class="btn btn-link" data-dismiss="modal"><i class="fa fa-chevron-left fa-fw"></i> Voltar</a>
                    <button type="submit" class="btn btn-primary" 
                        ng-disabled="resultados.disableSaveResultados()" 
                        ng-show="resultados.listClassificacao"
                        ng-click="resultados.salvarResultados()"><i class="fa fa-floppy-o fa-fw"></i> Salvar</button>
                </div>
            </div>

            <div class="col-md-12 pull-right ng-hide" ng-show="resultados.currentEtapa.publicarResultado">
                <p>&nbsp;</p>
                <hr>
                <div class="pull-right">
                    <a ng-href="#/admin/etapa" class="btn btn-link" data-dismiss="modal"><i class="fa fa-chevron-left fa-fw"></i> Voltar</a>
                </div>
            </div>

        </div>
    </div>
</section>



