<h3>Temporadas</h3>

<div class="table-resonsive">
    
    <table class="table table-striped table-bordered table-hover">
        <thead>
            <tr>
                <th class="col-md-4">Ano</th>
                <th class="col-md-5">Edição</th>
                <td class="col-md-1"></td>
                <th class="col-md-2"></th>
            </tr>
        </thead>
        <tbody>
            <tr ng-repeat="temporadaVo in temporadaAllList">
                <td ng-hide="temporadaVo.edit">{{temporadaVo.ano}}</td>
                <td ng-hide="temporadaVo.edit">{{temporadaVo.edicao}}</i></td>
                
                <td class="ng-hide" ng-show="temporadaVo.edit" ><input type="text" class="form-control" ng-model="temporadaVo.ano"></td>
                <td class="ng-hide" ng-show="temporadaVo.edit" ><input type="text" class="form-control" ng-model="temporadaVo.edicao"></td>

                <td>
                    <div class="btn-group">
                        <button ng-hide="temporadaVo.edit" class="btn btn-default btn-sm" data-toggle="modal" data-target="#selectCategories" ng-click="popUp(temporadaVo)">
                          <i class="fa fa-bars" aria-hidden="true"></i> Categorias
                        </button>
                    </div>
    
                </td>
    
                <td>
                    <div class="btn-group">
                        <div class="ng-hide" ng-show="temporadaVo.edit">
                            <button type="submit" class="btn btn-primary" ng-click="save(temporadaVo)">
                              <i class="fa fa-check" aria-hidden="true"></i> Salvar
                            </button>
                            <button class="btn btn-link" ng-click="temporadaVo = turnEdit(temporadaVo)">
                               Cancelar
                            </button>
                        </div>
                    </div>
                    
                    <div class="btn-group" ng-hide="temporadaVo.edit" >
                        <div class="btn-group" ng-hide="temporadaVo.edit" >
                            <form action="#/admin/temporada" method="post">
                                <button type="submit" class="btn btn-success btn-sm" ng-hide="{{temporadaVo.publicado}}" ng-click="publicar(temporadaVo)"
                                    data-toggle="tooltip" tooltip data-placement="top" title="Publicar Temporada">
                                  <i class="fa fa-check" aria-hidden="true"></i>
                                </button>

                                <button type="submit" class="btn btn-warning btn-sm" ng-hide="!{{temporadaVo.publicado}}" ng-click="despublicar(temporadaVo)"
                                    data-toggle="tooltip" tooltip
                                    data-placement="top" title="Esconder Temporada">
                                  <i class="fa fa-times" aria-hidden="true"></i>
                                </button>
                            </form>
                        </div>                    
                        <button ng-hide="temporadaVo.edit" class="btn btn-default btn-sm" ng-click="temporadaVo = turnEdit(temporadaVo)"
                                data-toggle="tooltip" tooltip
                                data-placement="top" title="Editar">
                          <i class="fa fa-pencil" aria-hidden="true"></i>
                        </button>
                        <button class="btn btn-danger btn-sm" data-toggle="modal" data-target="#confirmaExcluir" ng-click="prepareDel(temporadaVo)"
                                data-toggle="tooltip" tooltip
                                data-placement="top" title="Excluir">
                          <i class="fa fa-times" aria-hidden="true"></i>
                        </button>
                    </div>
                </td>
            </tr>
        </tbody>
    </table>
</div>

<div class="modal fade" tabindex="-1" role="dialog" id="selectCategories" aria-labelledby="selectCategories">
    <categoria-select-popup temporada="popUpVo"></categoria-select-popup>
</div>

<delete-dialog delete-action="delete(toDeleteVo)">
    <delete-message>
        <p>{{toDeleteVo.ano}} - {{toDeleteVo.edicao}}</p>
        <p class="text-warning small">Esta operação irá deletar todos os dados da temporada.</p>    
    </delete-message>
</delete-dialog>