<check-user></check-user>

<!-- Portfolio Grid Section -->
<section class="season" ng-controller="UserCtrl as user">
	<div class="container">
		<div class="row">
		    <div class="col-lg-12 text-center">
		        <h2>Perfil do Usuário</h2>
		        <hr class="star-primary">
		    </div>


			<div class="col-md-12">
			    <div class="panel panel-custom"> 
			        <div class="panel-heading">
			            Dados do Usuário
			        </div>
			        
			        <form action="#/admin/profile" method="post">
			            <div class="panel-body">

			                <div class="col-md-12">
			                    <h6>Nome</h6>
			                    <input ng-model="user.currentUser.nome" type="text" class="form-control" name="nome" required>
			                </div>
			                <div class="col-md-12">
			                    <h6>E-mail</h6>
			                    <input ng-model="user.currentUser.email" type="email" data-fv-emailaddress-message="The value is not a valid email address" class="form-control" name="email" required>
			                </div>
							<div class="col-md-6">
			                    <h6>Senha</h6>
			                    <input ng-model="user.currentUser.tmpSenha" type="password" class="form-control" name="senha" required>
			                </div>
			                <div class="col-md-6">
			                    <h6>Confirmar Senha</h6>
			                    <input ng-model="user.currentUser.tmpSenha2" type="password" class="form-control" name="confirmSenha" required>
			                </div>

			                <div class="col-md-12">
			                    <h6>&nbsp;</h6>
			                    <div class="btn-group pull-right">
			                        <button type="submit"  ng-disabled="user.disableSave()" ng-click="user.saveUser(user.currentUser)" class="btn btn-primary">Salvar</button>
			                    </div>
			                </div>

			            </div>
			        </form>
			        
			    </div>
			</div>
		</div>
	</div>

</section>