<h3>Equipes</h3>

<div class="table-resonsive">
    
    <table class="table table-striped table-bordered table-hover">
        <thead>
            <tr>
                <th class="col-md-4">Nome da Equipe</th>
                <th class="col-md-4">Cidade</th>
                <th class="col-md-3">Estado</th>
                <th class="col-md-1"></th>
            </tr>
        </thead>
        <tbody>
            <tr ng-repeat="equipeVo in equipeList">
                <td ng-hide="equipeVo.edit">{{equipeVo.nome}}</td>
                <td ng-hide="equipeVo.edit">{{equipeVo.cidade}}</i></td>
                <td ng-hide="equipeVo.edit">{{equipeVo.estado}}</i></td>
                
                <td class="ng-hide" ng-show="equipeVo.edit"><input type="text" class="form-control" ng-model="equipeVo.nome"></td>
                <td class="ng-hide" ng-show="equipeVo.edit"><input type="text" class="form-control" ng-model="equipeVo.cidade"></td>
                <td class="ng-hide" ng-show="equipeVo.edit"><combo-estados ng-model="equipeVo.estado"></combo-estado></td>

                <td>
                    <div class="btn-group" ng-hide="equipeVo.idEquipe == 0">
                        <div class="ng-hide" ng-show="equipeVo.edit">
                            <button type="submit" class="btn btn-primary btn-sm" ng-click="save(equipeVo)">
                              <i class="fa fa-check" aria-hidden="true"></i> Salvar
                            </button>
                            <button class="btn btn-link btn-sm" ng-click="equipeVo = turnEdit(equipeVo)">
                               Cancelar
                            </button>
                        </div>
                    </div>
                    
                    <div class="btn-group" ng-hide="equipeVo.edit || equipeVo.idEquipe == 0">
                        <button ng-hide="equipeVo.edit" class="btn btn-default btn-sm" ng-click="equipeVo = turnEdit(equipeVo)"
                                data-toggle="tooltip" tooltip data-placement="top" title="Editar">
                          <i class="fa fa-pencil" aria-hidden="true"></i>
                        </button>
                        <button class="btn btn-danger btn-sm" data-toggle="modal" data-target="#confirmaExcluir" ng-click="prepareDel(equipeVo)"
                                data-toggle="tooltip" tooltip data-placement="top" title="Excluir">
                          <i class="fa fa-times" aria-hidden="true"></i>
                        </button>
                    </div>
                </td>
            </tr>
        </tbody>
    </table>
</div>

<delete-dialog delete-action="delete(toDeleteVo)">
    <delete-message>
        <p>EQUIPE: <b>{{toDeleteVo.nome}}</b> <br> {{toDeleteVo.cidade}} / {{toDeleteVo.estado}}</p>
    </delete-message>
</delete-dialog>