<div class="modal-dialog modal-lg">
    <div class="modal-content">
        <div class="modal-header">
            <h4>Equipe</h4>
        </div>
        <div class="modal-body">
            <div class="row">
                <div class="col-md-12">
                    <h6>Nome da Equipe</h6>
                    <input ng-model="vo.nome" type="text" class="form-control" name="nome" required>
                </div>
                <div class="col-md-6">
                    <h6>Cidade</h6>
                    <input ng-model="vo.cidade" type="text" class="form-control" required>
                </div>    
                <div class="col-md-6">
                    <h6>Estado</h6>
                    <combo-estados ng-model="vo.estado"></combo-estado>
                </div>
            </div>
        </div>
        <div class="modal-footer">
            <div class="pull-right">
                <div class="btn-group">
                    <button type="submit" class="btn btn-link" data-dismiss="modal">Cancelar</button>
                </div>
                <div class="btn-group">
                    <form action="{{formAction}}" id="formDialogEquipe" method="post">
                        <button type="submit" class="btn btn-primary" ng-click="saveEquipe(vo);" data-dismiss="modal">Salvar</button>
                    </form>
                </div>
            </div>
        </div>
    </div>
</div>