<div class="col-md-12">
    <h6>Equipe</h6>
    <div class="input-group">
        <equipe-combo ng-model="insertVo.equipe.idEquipe"></equipe-combo>
        <span class="input-group-btn">
            <button type="button" class="btn btn-secondary" data-toggle="modal" data-target="#formEquipe">
                <i class="fa fa-plus" />
                Adicionar Equipe...</button>
        </span>
    </div>
</div>
<div class="col-md-12">
    <h6>Nome do Atleta</h6>
    <input ng-model="insertVo.nome" type="text" class="form-control" name="nomeAtleta" required>
</div>
<div class="col-md-6">
    <h6>Cidade</h6>
    <input ng-model="insertVo.cidade" type="text" class="form-control" name="criterioEquipe" required>
</div>   
<div class="col-md-6">
    <h6>Estado</h6>
    <combo-estados ng-model="insertVo.estado"></combo-estado>
</div>
