<div class="modal-dialog modal-lg">
    <div class="modal-content">
        <div class="modal-header">
            <h4>Etapa</h4>
            <h6>{{vo.temporada.ano}} - {{vo.temporada.edicao}}</h6>
        </div>
        <div class="modal-body">
            <div class="row">
                <div class="col-md-6">
                    <h6>Local</h6>
                    <input ng-model="vo.etapa.local" type="text" class="form-control" name="local" required>
                </div>
                <div class="col-md-6">
                    <h6>Data</h6>
                    <input ng-model="vo.etapa.data" type="text" class="form-control datepicker" placeholder="Selecione uma data" required>
                </div>    
                <div class="col-md-12">
                    <h6>Descrição da Etapa</h6>
                    <text-angular ng-model="vo.etapa.descricao"></text-angular>
                </div>
            </div>
        </div>
        <div class="modal-footer">
            <div class="pull-right">
                <div class="btn-group">
                    <button type="submit" class="btn btn-link" data-dismiss="modal">Cancelar</button>
                </div>
                <div class="btn-group">
                    <button type="submit" class="btn btn-primary" ng-click="salvar(vo.etapa);" data-dismiss="modal">Salvar</button>
                </div>
                <form action="#/admin/etapa" method="post" id="formEtapaSubmit"></form>
            </div>
        </div>
    </div>
</div>