<h3>Listar Etapas</h3>

<div class="col-md-12">
    <h6>Temporada</h6>
    <temporada-combo ng-model="vo.idTemporada"></temporada-combo>
    <hr>
</div>
    
<div class="col-md-12">
    
    <div class="alert alert-info ng-hide" ng-hide="etapaList.length">
        Nenhuma Etapa cadastrada para a Temporada Selecionada.
        
        <button class="btn btn-link btn-sm" data-toggle="modal" data-target="#formEtapa" ng-click="turnEdit()" ng-show="vo.idTemporada">
          <i class="fa fa-plus" aria-hidden="true"></i> Nova Etapa ...
        </button>
    </div>
    
    <div class="col-md-12 padding-zero" ng-show="etapaList.length" class="ng-hide">
        <div class="btn-group pull-right">
            <button class="btn btn-primary btn-sm" data-toggle="modal" data-target="#formEtapa" ng-click="turnEdit()">
              <i class="fa fa-plus" aria-hidden="true"></i> Nova Etapa ...
            </button>
        </div>
    </div>
    
    <div class="table-resonsive ng-hide" ng-show="etapaList.length">
        <table class="table table-striped table-bordered table-hover">
            <thead>
                <tr>
                    <th class="col-md-4">Data</th>
                    <th class="col-md-4">Local</th>
                    <th class="col-md-1">Classificacao</th>
                    <th class="col-md-1">Largadas</th>
                    <th class="col-md-2"></th>
                </tr>
            </thead>
            
            <tbody>
                <tr ng-repeat="etapa in etapaList">
                    <td><format-date format="long" value="{{etapa.data}}"></format-date></td>
                    <td>{{etapa.local}}</td>
                    <td>
                        <div class="btn-group">
                            <a ng-hide="etapa.edit" class="btn btn-default btn-sm"
                                    ng-href="#/admin/etapa/resultados/{{etapa.temporada.idTemporada}}/{{etapa.idEtapa}}">
                              <i class="fa fa-bars fa-fw" aria-hidden="true"></i> Resultados
                            </a>
                        </div>
                    </td>
                    <td>
                        <div class="btn-group">
                            <a ng-hide="etapa.edit" class="btn btn-default btn-sm"
                                    ng-href="#/admin/etapa/largadas/{{etapa.temporada.idTemporada}}/{{etapa.idEtapa}}">
                              <i class="fa fa-clock-o fa-fw" aria-hidden="true"></i> Largadas
                            </a>
                        </div>
                    </td>
                    <td>
                        <div class="btn-group" ng-hide="etapa.edit">
                            <button type="submit" class="btn btn-success btn-sm" ng-hide="{{etapa.publicarResultado}}" ng-click="publicar(etapa)"
                                data-toggle="tooltip" tooltip data-placement="top" title="Publicar Resultado">
                                <i class="fa fa-check" aria-hidden="true"></i>
                            </button>
                            
                            <button type="submit" class="btn btn-warning btn-sm" ng-hide="!{{etapa.publicarResultado}}" ng-click="despublicar(etapa)"
                                data-toggle="tooltip" tooltip
                                data-placement="top" title="Esconder Resultado">
                              <i class="fa fa-times" aria-hidden="true"></i>
                            </button>
                            
                            <button ng-hide="etapa.edit" class="btn btn-default btn-sm" ng-click="turnEdit(etapa)" data-toggle="modal" data-target="#formEtapa"
                                data-toggle="tooltip" tooltip
                                data-placement="top" title="Editar">
                              <i class="fa fa-pencil" aria-hidden="true"></i>
                            </button>
                            
                            <button class="btn btn-danger btn-sm" data-toggle="modal" data-target="#confirmaExcluir" ng-click="prepareDel(etapa)"
                                data-toggle="tooltip" tooltip
                                data-placement="top" title="Excluir">
                              <i class="fa fa-times" aria-hidden="true"></i>
                            </button>
                        </div>
                    </td>
                </tr>
            </tbody>
        </table>
    </div>
</div>

<classificacao-dialog dialog-id="resultadosDialog"
                      id-temporada="vo.idTemporada" 
                      id-etapa="toEditVo.idEtapa">
</classificacao-dialog>

<div class="modal fade" tabindex="-1" role="dialog" id="formEtapa" aria-labelledby="formEtapa">
    <etapa-form temporada-id="vo.idTemporada" etapa="toEditVo"></etapa-form>
</div>

<delete-dialog delete-action="delete(toDeleteVo)">
    <delete-message>
        <p>Etapa : <b>{{toDeleteVo.local}}</b></p>
        <p>Temporada: <b>{{toDeleteVo.temporada.ano}} - {{toDeleteVo.temporada.edicao}}</b></p>
        <hr>
        <p class="text-warning small">Esta operação irá deletar todos os dados da Etapa.</p>
    </delete-message>
</delete-dialog>