
<div class="col-md-12 ng-hide" ng-hide="rankingList">
    <br>
    <div class="alert alert-warning">
        Sem dados para a Temporada atual
    </div>
</div>

<div class="col-md-12 ng-hide" ng-show="rankingList">
    <h3>Classificação Geral por Equipes</h3>
    <div class="table-resonsive">
        <table class="table table-striped table-bordered table-hover">
            <thead>
                <tr>
                    <th>#</th>
                    <th>Equipe</th>
                    <th>Cidade</th>
                    <th>Pontos</th>
                </tr>
            </thead>
            <tbody>
                <tr ng-repeat="vo in rankingList">
                    <td>{{$index + 1}}</td>
                    <td>{{vo.equipe.nome}}</td>
                    <td>{{vo.equipe.cidade}}/{{vo.equipe.estado}}</td>
                    <td>{{vo.totalPontos}}</td>
                </tr>
            </tbody>
        </table>
    </div>
</div>