<div class="col-md-12 ng-hide" ng-hide="idEtapa">
    <br>
    <div class="alert alert-warning">
        Sem dados para a etapa/categoria selecionada <a href="" ng-show="idCategoria" ng-click="idCategoria = null"><i class="fa fa-times fa-fw"></i> remover filtro</a></span>
    </div>
</div>

<div class="col-md-12 ng-hide" ng-show="idEtapa">
    <h3>{{etapa.local}} <span ng-show="idCategoria" class="badge"><a href="" ng-click="idCategoria = null">remover filtro <i class="fa fa-times fa-fw"></i></a></span></h3>
    <div class="col-md-12" ng-repeat="categoria in categoriaList">
        <h4>{{categoria.nome}}</h4>
        <ranking-etapa-table
        				hide-header="true"
                        id-temporada="idTemporada" 
                        id-categoria="categoria.idCategoria"
                        id-etapa="idEtapa"></ranking-etapa-table>
    </div>
</div>