
<div class="col-md-12 ng-hide" ng-hide="rankingList">
    <br>
    <div class="alert alert-warning">
        Sem dados para a etapa/categoria selecionada
    </div>
</div>

<div class="col-md-12 ng-hide" ng-show="rankingList">
    <h3 ng-hide="{{hideHeader}}">Classificação da Etapa</h3>
    <div class="table-resonsive">
        <table class="table table-striped table-bordered table-hover">
            <thead>
                <tr>
                    <th>#</th>
                    <th>Nome</th>
                    <th>Equipe</th>
                    <th>Cidade</th>
                    <th>Pontos</th>
                </tr>
            </thead>
            <tbody>
                <tr ng-repeat="vo in rankingList">
                    <td>{{vo.posicao}}</td>
                    <td>{{vo.atleta.nome}}</td>
                    <td>{{vo.atleta.equipe.nome}}</td>
                    <td>{{vo.atleta.cidade}}/{{vo.atleta.estado}}</td>
                    <td>{{vo.totalPontos}}</td>
                </tr>
            </tbody>
        </table>
        <p>* NC = Não completou</p>
    </div>
</div>